<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.ld">

    <application>
        <activity android:name="org.smartregister.chw.ld.activity.PartographMonitoringActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="org.smartregister.chw.ld.activity.BaseLabourProgressViewActivity" />
    </application>

</manifest>